In [103]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split


import pandas as pd

In [59]:
iris = load_iris()
dt_clf = DecisionTreeClassifier()

In [26]:
keys = iris.keys()
print(keys)
# data, target, frame, target_name, DESCR, features_names, filename
print(type(keys))
# dictionary
print(len(keys))

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])
<class 'dict_keys'>
7

In [36]:
print(iris.filename)
print(type(iris.filename)) # str

/home/imgsuh/anaconda3/envs/bnk/lib/python3.7/site-packages/sklearn/datasets/data/iris.csv
<class 'str'>

In [40]:
print(type(iris.frame))

<class 'NoneType'>

In [41]:
print(iris.feature_names)
print(type(iris.feature_names)) # list
print(len(iris.feature_names))

print('\n', type(iris.data))
print(len(iris.data)) # ndarray 
print(iris.data.shape)

print('\n',iris.target_names)
print(type(iris.target_names)) # ndarray
print(len(iris.target_names))

print('\n', type(iris.target))
print(len(iris.target)) # ndarray
print(iris.target.shape)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
<class 'list'>
4

 <class 'numpy.ndarray'>
150
(150, 4)

 ['setosa' 'versicolor' 'virginica']
<class 'numpy.ndarray'>
3

 <class 'numpy.ndarray'>
150
(150,)

$\beta$를 dataframe으로 만들기

In [47]:
# beta를 dataframe으로 만들기
feature_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
feature_df.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [54]:
# target데이터까지 하나의 dataframe으로 붙이기
feature_df['target'] = iris.target
feature_df.head(3)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0

In [18]:
print(iris.DESCR)
print(type(iris.DESCR))

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...
<class 'str'>

In [12]:
print(iris.feature_names)

['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']

In [55]:
x_train, x_test, y_train, y_test = train_test_split(iris.data, iris.target
                                                    , test_size=0.2, random_state=11)

In [88]:
dt_clf.fit(x_train, y_train)

DecisionTreeClassifier()

In [101]:
print('예측한 y값: ', dt_clf.predict(x_test))
print(type(dt_clf.predict(x_test))) # decision tree classifier's prdict modulesndarray
print('예측한 y값 크기:', dt_clf.predict(x_test).shape)
y_predict = dt_clf.predict(x_test)
print(type(y_predict))

print('\n 진짜 y값: ', y_test)
print(type(y_test))
print('진짜 y값 크기:', y_test.shape)

예측한 y값:  [2 2 1 1 2 0 1 0 0 1 1 1 1 2 2 0 2 1 2 2 1 0 0 1 0 0 2 1 0 1]
<class 'numpy.ndarray'>
예측한 y값 크기: (30,)
<class 'numpy.ndarray'>

 진짜 y값:  [2 2 2 1 2 0 1 0 0 1 2 1 1 2 2 0 2 1 2 2 1 0 0 1 0 0 2 1 0 1]
<class 'numpy.ndarray'>
진짜 y값 크기: (30,)

In [124]:
print(accuracy_score(y_test,dt_clf.predict(x_test)))
# accuracy_score객체는 그냥 두 ndarray가 얼마나 비슷한지 비교해주는 함수
print(type(accuracy_score(y_test,dt_clf.predict(x_test)))) # type은 float로 나옴
print('accuracy score: {0:.4f}'.format(accuracy_score(y_test,dt_clf.predict(x_test))))
print('accuracy score:', np.round(accuracy_score(y_test,dt_clf.predict(x_test)), 4))

0.9333333333333333
<class 'numpy.float64'>
accuracy score: 0.9333
accuracy score: 0.9333

Cross validation
###### sklearn의 model selection에 있는 kfold써보기

In [111]:
from sklearn.model_selection import KFold
import numpy as np

In [116]:
# 5개의 폴드 세트로 분리하는 KFold 객체와 폴드 세트별 정확도를 담을 리스트 객체 생성.
Kfold = KFold(n_splits=5)
cv5_accuracy = []
print(iris.data.shape[0])
print(iris.data.shape[1])

150
4

In [117]:
print(keys)

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [132]:
n_iter = 0

for train_index, test_index in Kfold.split(iris.data):
    # kfold 객체를 쓸때는 위에 쓴 train test split 말고 kfold.split쓴다
    # Kfold 객체의 split()을 호출하면 fold별 traing, test의 row index를 array로 변환
    x_train, x_test = iris.data[train_index], iris.data[test_index]
    y_train, y_true = iris.target[train_index], iris.target[test_index] 
    
    # learning & prediction
    dt_clf.fit(x_train, y_train)
    y_pred = dt_clf.predict(x_test)
    n_iter += 1

    # 매번 accuracy score 측정
    acc_score = np.round(accuracy_score(y_true, y_pred), 4)
    print('\n#{0}, accuracy_score: {1}, train data shape: {2}, test data shape: {3}'
          .format(n_iter, accuracy_score, x_train.shape[0], x_test.shape[0])
    #print('#{0} test set index: {1}'.format(n_iter,test_index))
    cv5_accuracy.append(acc_score)

SyntaxError: invalid syntax (2474739513.py, line 19)

In [ ]:
for train_index, test_index  in kfold.split(features):
    
    accuracy = np.round(accuracy_score(y_test,pred), 4)
    train_size = X_train.shape[0]
    test_size = X_test.shape[0]
    print('\n#{0} 교차 검증 정확도 :{1}, 학습 데이터 크기: {2}, 검증 데이터 크기: {3}'
          .format(n_iter, accuracy, train_size, test_size))
    print('#{0} 검증 세트 인덱스:{1}'.format(n_iter,test_index))
    cv_accuracy.append(accuracy)
    
# 개별 iteration별 정확도를 합하여 평균 정확도 계산 
print('\n## 평균 검증 정확도:', np.mean(cv_accuracy))